body,html{
    margin: 0;
    padding: 0;
}

#pays{
    display: flex;
    align-items: center;
    justify-content: center;
    height: Hug (778px);
    gap: 50px;
    

    

    .Containers{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 1200px;
        min-height: 578px;
        gap: 30px;
       

    }

    .container-pays{
        width: 585px;
        height: 578px;
        gap: 0px;
        border-radius: 50px;
        
        .Imgs{
            
            position: relative;
            width: 585px;
            height: 380px;
            gap: 0px;
            border-radius: 20px 20px;
            

            
            
        }
        .Img, .Card{
            position: relative;
            align-items: center;
            width: 380px;
            height: 380px;
            left: 103px;
            gap: 0px;
            opacity: 0px;


        }
        .Infor-price{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 585px;
            height:198px;
            padding: 30px;
            gap: 20px;
            opacity: 0px;

            .InfoBook{
                display: flex;
                flex-direction: column;
                width: 525px;
                height: 66px;
                gap: 10px;
                opacity: 0px;
                h1{
                    
                    width: 525px;
                    height: 34px;
                    gap: 0px;
                    opacity: 0px;
                    
                    font-size: 24px;
                    font-weight: 700px;
                    line-height: 33.6px;
                    text-align: left;
                    margin: 0;
                }
                p{
                    display: flex;
                    width: 525px;
                    height: 22px;
                    gap: 0px;
                    opacity: 0px;
                    
                    font-size: 16px;
                    font-weight: 400px;
                    line-height: 22.4px;
                    text-align: left;
                    margin: 0;
                }
            }
            .Prices{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 525px;
                height: 52px;
                gap: 8px;
                opacity: 0px;
                h1{
                    width: 184px;
                    height: 44px;
                    gap: 0px;
                    
                    
                    font-size: 30px;
                    font-weight: 700px;
                    line-height: 44px;
                                       
                    margin: 0;
                }    
                .Voucher{
                    display: flex;
                    flex-direction: column;
                    width: 333px;
                    height: 52px;
                    gap: 0px;
                    opacity: 0px;
                    span{
                        width: 123px;
                        height: 20px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: Myriad Pro;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19.6px;
                        text-align: center;
                        color: red;
                    }
                    del{
                        width: 113px;
                        height: 28px;
                        left: 15px;
                        gap: 0px;
                        opacity: 0px;
                        font-family: Myriad Pro;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        text-align: left;
                        color: #A0A5A8;
                    }
                }
            }
        }
    }

}


    form{
        display: flex;
        flex-direction: column;
        width: 585px;
        height: 578px;
        padding: 24px;
        gap: 32px;
        border-radius: 24px;
        border: 1px;
        opacity: 0px;
        background-color: #DDE1E6;

        .huong-dan{
            display: flex;
            flex-direction: column;
            width: 537px;
            height: 80px;
            gap: 8px;
            opacity: 0px;

            h3{
                width: 537px;
                height: 28px;
                gap: 0px;
                opacity: 0px;
                margin: 0;
                
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                text-align: left;
                color: red;
            }
            p{
                width: 537px;
                height: 44px;
                gap: 0px;
                opacity: 0px;
                margin: 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
                text-align: left;

            }
        }

        .formInput{
            display: flex;
            flex-direction: column;
            width: 537px;
            height: 418px;
            gap: 16px;
            opacity: 0px;

            #inputID{
                display: flex;
                flex-direction: column;
                width: 537px;
                height: 76px;
                gap: 4px;
                opacity: 0px;
                .formlabel{
                    width: 537px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;  
                }    
                .input-field{
                    display: flex;
                    width: 537px;
                    height: 48px;
                    
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid#DDE1E6 ;
                    outline: none;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
                }

                .input-field::placeholder{
                    width: 505px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: #697077;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    padding: 12px 16px;    

                }
                
            }

            #inputEmail{
                display: flex;
                flex-direction: column;
                width: 537px;
                height: 76px;
                gap: 4px;
                opacity: 0px;
                .formlabel{
                    width: 537px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;  
                }
                .input-mail{
                    display: flex;
                    width: 537px;
                    height: 48px;
                    
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid#DDE1E6 ;
                    outline: none;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
                }

                .input-mail::placeholder{
                    width: 505px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: #697077;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    padding: 12px 16px;    

                }
            }

            #inputPhone{
                display: flex;
                flex-direction: column;
                width: 537px;
                height: 76px;
                gap: 4px;
                opacity: 0px;


                .formlabel{
                    width: 537px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
    
                }
                .input-phone{
                    display: flex;
                    width: 537px;
                    height: 48px;   
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid#DDE1E6 ;
                    outline: none;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
                }

                .input-phone::placeholder{
                    width: 505px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: #697077;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    padding: 12px 16px;    

                }
            }

            #inputAddress{
                display: flex;
                flex-direction: column;
                width: 537px;
                height: 76px;
                gap: 4px;
                opacity: 0px;
                
                .formlabel{
                    width: 537px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    color: #21272A;

                }

                .input-address{
                    display: flex;
                    width: 537px;
                    height: 48px;   
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid#DDE1E6 ;
                    outline: none;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

                }
                .input-address::placeholder{
                    width: 505px;
                    height: 20px;
                    gap: 0px;
                    opacity: 0px;
                    color: #697077;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    padding: 12px 16px;    

                }
            }

        }
        button{
            display: flex;
            width: 537px;
            height: 50px;
            padding: 11px 20px 11px 20px;
            gap: 10px;
            border-radius: 50px;
            opacity: 0px;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
            background-color: #36BDF8;
            border: 1px;
        }
    }

 
 
 .Logo{   
    position: absolute;          
    width: 175px;
    height: 60px;
    top: 8px;
    left: 402px;
    gap: 0px;
    opacity: 0px;

}