body,html{
    padding: 0;
    margin: 0;
    
}

.Container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-image: url("../img/div.css-1k78pg9.png");
    background-size: cover;
    
}

.Container h1{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 700%;
    height: 60%;
    gap: 20px;
}

.box-buy1{
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-bottom: 1px solid rgb(208, 226, 248);
    border-radius: 30px;
    width: 400px;
    height: 500px;
    transition: #a6a4f3;
    background-color: white;
}

.logoVTC img{
    float: right;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
}

.card,.card img {
    display: flex;
    justify-content: center;
    height: 160px;
}


.infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    
}

.infor h2, h3{
    float: left;
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
}

.infor h5{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;    
}

.infor h6{
    
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: red;
}

.infor h2,h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

del,h4{
    color: aqua;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    
}

button{
    
    
    justify-items: center;
    height: 50px;
    width: 300px;
    border: 0px;
    border-radius: 50px;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
}

button:hover{
    background-color: rgb(106, 106, 237);
}


