body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Căn logo cách lề trái một khoảng nhỏ */
.logo {
    margin-left: 10px; /* Thay đổi giá trị này theo nhu cầu */
}

.logo img {
    height: 50px;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Căn phần tử nav-container cách lề phải một khoảng */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4a90e2;
}

.btn-buy {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
    transition: background-color 0.3s ease;
    border: 1px ;
}

.btn-buy:hover {
    background-color: #3a7bc8;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px;
    border-radius: 5px;
}

.dropdown li {
    padding: 5px 20px;
}

.dropdown li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: color 0.3s ease;
}

.dropdown li a:hover {
    color: #4a90e2;
}

.nav-item:hover .dropdown {
    display: block;
}

/* Ẩn select elements */
.nav-item select {
    display: none;
}
